<%= stylesheet_link_tag 'users.css' %>
<%= render partial: 'user', locals: { user: @user }%>
<div>Bio <br> <p><%= @user.bio%></p></div>

<h4>Posts</h4>
<%= render partial: 'post', collection: @posts, locals: {user: @user}%>
<%= link_to 'See All Posts', user_posts_path(@user) %>
