<div>
    <%= form_with  model: @post, method: :post, url: user_posts_path do |f|%>
        <%= f.label :title %>
        <%= f.text_field :title %>
        <%= f.label :content %>
        <%= f.text_field :text %>
        <%= f.submit :Add%>
    <% end %>
</div>