<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,500;0,700;0,900;0,1000;1,300;1,500;1,1000&family=Poppins:wght@200;300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7e86c8c237.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'main.css' %>
</head>
<body>
    <div class="content">
        <h1 class='app-name'>Blogger</h1>
        <% if user_signed_in? %>
            Welcome, <%= current_user.name %>!
        <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
        <% else %>
            <%= link_to "Sign in", new_user_session_path %>
            <%= link_to "Sign up", new_user_registration_path%>
        <% end %>
    </div>
</body>
</html>